/* Styles for 11060 Interactive Project */
/* By Jehru */

/* Poppins font sourcing */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");

/* Colour scheme
https://coolors.co/d8f3dc-298561-095d42-081c15-df5979 

    #d8f3dc
    #298561
    #095D42
    #081C15
    #df5979
*/

/* ******************** */
/* Main Styles */
/* ******************** */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  height: 100vh;
  background-color: #d8f3dc;
  color: #081c15;

  text-align: center;
  padding-top: 35vh;
}

#topWin {
  height: 100vh;
  background-color: lightblue;
  color: #081c15;

  text-align: center;
  padding-top: 35vh;
}

/* Scroll Lock */
.hidden {
  overflow: hidden;
}

/* .secretHeader {
  height: 100vh;
  background-color: #61ece1;
  color: #081c15;

  text-align: center;
  padding-top: 35vh;
} */

header h1 {
  font-size: 4.375rem;
  font-weight: 700;
}

/* For the Modal Popup */
.col-6 h1 {
  /* font-size: 4.375rem; */
  font-weight: 700;
  margin-bottom: 30px;
}

.heading1 h1 {
  letter-spacing: 4px;
  display: inline;
}

.heading1 em {
  font-size: 3.125rem;
  font-weight: 700;
  color: #df5979;
  font-family: "Poppins";
}

/* h3 {
    font-weight: 700;
    font-size: 20px; 
} */

main {
  height: 100vh;
  /* display: flex; */
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
}

/* .mainContainer {
  align-items: 
} */

footer {
  background-color: #095d42;
  padding: 50px;
  text-align: center;
  color: #ffffff;
}

footer a {
  color: #ffffff;
}

footer a:hover {
  color: #dbdcdf;
}

/* **********  */
/* Memory Game */
/* **********  */

.memoryGame {
  width: 90vh;
  height: 70vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;

  /* Dont know if neccessary */
  perspective: 1000px;
}

.memoryCard {
  width: calc(25% - 5%);
  height: calc(33.333% - 5%);
  margin: 2.5%;
  position: relative;
  transform: scale(1);

  /* Dont know if necc */
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.memoryCard:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memoryCard.flip {
  transform: rotateY(180deg);
}

.frontFace,
.backFace {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: lightgray;
  backface-visibility: hidden;
}

.frontFace {
  transform: rotateY(180deg);
}

.tingle-modal-box img {
  width: 100%;
}

#playGame {
  text-decoration: none;
  letter-spacing: 2px;
  padding: 20px 55px;
  text-transform: uppercase;
  cursor: pointer;
  margin: 15px 30px;
  background-color: #298561;
  border-radius: 7px;
  color: #ffffff;
  font-weight: 600;
  box-shadow: 0 5px 15px rgb(0 0 0 / 20%);
  display: inline-block;
}

#playGame:hover {
  background-color: #095d42;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.row audio {
  margin-top: 5%;
}

.controls {
  /* align-items: center; */
  margin-top: 10vh;
  text-align: center;
}

/* ------------------------------------ */
/* MEDIA QUERIES */
/* ------------------------------------ */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .heading1 h1 {
    font-size: 3.375rem;
  }

  header h1 {
    font-size: 3.375rem;
  }

  #playGame {
    padding: 20px 35px;
    margin: 0px;
  }

  .memoryGame {
    width: 45vh;
    height: 45vh;
    margin: 20vh auto;
  }

  .memoryCard {
    width: calc(33.333% - 5%);
    height: calc(33.333% - 5%);
    margin: 2.5%;
  }

  .col-6 {
    width: 100% !important;
  }

  /* .col-8 {
    width: 100% !important;
  } */

  .col-6 img {
    width: 100%;
    margin: 0 auto 5% auto;
  }

  .frontFace,
  .backFace {
    padding: 0px;
  }

  .scrollClass {
    overflow: scroll;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .heading1 h1 {
    font-size: 3.375rem;
  }

  header h1 {
    font-size: 3.375rem;
  }

  #playGame {
    padding: 20px 35px;
  }

  .memoryGame {
    width: 45vh;
    height: 45vh;
    margin: 20vh auto;
  }

  .memoryCard {
    width: calc(33.333% - 5%);
    height: calc(33.333% - 5%);
    margin: 2.5%;
  }

  .col-8 img {
    width: 100%;
    margin: 0 auto 5% auto;
  }
  .frontFace,
  .backFace {
    padding: 8px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .memoryGame {
    /* CHECK THESE VALUES */
    width: 74vh;
    /* width: 64vh; */
    height: 58vh;
    /* height: 51vh; */
    margin: auto;
  }
  p {
    font-size: 1rem;
  }

  section {
    font-size: 1rem;
  }
}

/* Medium devices (landscape tablets, 993px and 1200px) */
/* @media only screen and (min-width: 993px) and (max-width: 1200px) {
} */

/* Large devices (laptops/desktops, 2150px and to 3900px) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 2150px) and (max-width: 3900px) {
  .heading1 h1 {
    font-size: 7.375rem;
  }

  header h1 {
    font-size: 7.375rem;
  }

  .heading1 em {
    font-size: 6.125rem;
  }

  #playGame {
    /* display: inline-block; */
    font-size: 2rem;
    padding: 40px 110px;
  }

  .col-6 h1 {
    font-size: 5rem;
  }

  p {
    font-size: 3rem;
  }

  section {
    font-size: 3rem;
  }

  .text-col {
    padding: 0% 3% 0% 3% !important;
  }
}
